.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 3fr 8fr;
    gap: 20px;
}

header {
    grid-area: header;
}

#topText {
    font-size: 60px;
	white-space: nowrap;
    font-family: 'Abril Fatface', cursive;
}

article {
    grid-area: content;
}

aside {
    grid-area: sidebar;
    border-right: 1px solid #999;
}

footer {
    grid-area: footer;
}

body {
	width: 90%;
	max-width: 900px;
	margin: 2em auto;
	background: black;
	color: white;
	font-family: 'Chilanka', cursive;
}

.cardDisplay {
    padding-left: 50px;
    padding-right: 30px;
    float: none;
    display: inline-block;
}

img {
    display: flex;
}

.button {
    font-family: 'Abril Fatface', cursive;
	background:red;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
    color:black;
    text-decoration:none;
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-weight: bold;
}

.button2 {
    font-family: 'Abril Fatface', cursive;
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
    color:black;
    text-decoration:none;
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-weight: bold;
}

.button:hover {
    background:#444;
}

.button2:hover {
    background:#444;
}

.button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

.button2:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

.deck {
	width:60%;
	margin: 10px auto;
	padding: 10px 40px;
	text-align: center;
	box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

.card {
    font-family: 'Abril Fatface', cursive;
	width: 100px;
    box-sizing: border-box;
    height: 150px;
    padding: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 25pt;
    text-align: left;
    color: black;
    margin-left: -50px;
    position: relative;
    transition: all .5s;
    margin-bottom:10px;
    box-shadow: 2px 2px 5px 3px #666;
}

.card:hover {
	top:-5px;
	box-shadow: 2px 2px 8px 3px #999;
	z-index:20;
}

.modal {
    color: black;
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    margin: 0;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


.modal-header {
    font-family: 'Abril Fatface', cursive;
    padding: 1px 20px;
    background-color: red !important;
    color: black;
}

.modal-body {
    padding: 1px 20px;
    color: white;
    background-color: black;

}

.modal-footer {
    padding: 1px 20px;
    /* background-color: #5cb85c; */
    color: black;
    background-color: black;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

#pStrikes, #cpu1Strikes,#cpu2Strikes, #cpu3Strikes {
    display: inline-block;
    padding: 10px;
}

.confettiContainer {
    width: 100%;
    height: 80%;
}

#winScreen {
    display: none;
}

.confetti {
    z-index: 30;
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
}

.confetti:nth-child(1) {
    background-color: #f2d74e;
    left: 10%;
    animation-delay: 0;
}

.confetti:nth-child(2) {
    background-color: #95c3de;
    left: 20%;
    animation-delay: -5s;
}

.confetti:nth-child(3) {
    background-color: #ff9a91;
    left: 30%;
    animation-delay: -3s;
}

.confetti:nth-child(4) {
    background-color: #f2d74e;
    left: 40%;
    animation-delay: -2.5s;
}

.confetti:nth-child(5) {
    background-color: #95c3de;
    left: 50%;
    animation-delay: -4s;
}

.confetti:nth-child(6) {
    background-color: #ff9a91;
    left: 60%;
    animation-delay: -6s;
}

.confetti:nth-child(7) {
    background-color: #f2d74e;
    left: 70%;
    animation-delay: -1.5s;
}

.confetti:nth-child(8) {
    background-color: #95c3de;
    left: 80%;
    animation-delay: -2s;
}

.confetti:nth-child(9) {
    background-color: #ff9a91;
    left: 90%;
    animation-delay: -3.5s;
}

.confetti:nth-child(10) {
    background-color: #f2d74e;
    left: 100%;
    animation-delay: -2.5s;
}

@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
        transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
}